# config files
.env
.env.example

# data base
data/*.db
data/*.db-wal
data/*.db-shm
*.json

# python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/

# claude code related
.claude/

# vscode configuration files
.vscode
.vscode/